<div {{#get "posts" filter="featured:true" as |slider-trigger|}}{{#if slider-trigger}}id="slider"{{/if}}{{/get}}{{#get "pages" filter="featured:true" as |slider-trigger|}}{{#if slider-trigger}}id="slider"{{/if}}{{/get}} class="section-scrollable">
	{{#get "pages" filter="featured:true" order="published_at desc" as |slider-pages|}}
	{{#foreach slider-pages}}
	{{>pages}}
	{{/foreach}}
	{{/get}}
	{{#get "posts" filter="featured:true" include="authors" as |slider-posts|}}
	{{#foreach slider-posts}}
	{{>posts}}
	{{/foreach}}
	{{/get}}
</div>
<div class="scrollable-nav">
	<span id="next" class="next"></span>
</div>